nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: darkslategrey;
    align-items: center;
}

nav a{
    color: floralwhite;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

